<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет клиента</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Личный кабинет клиента</h1>
<div id="client-info">

</div>
<div id="edit-form" style="display: none;">
    <h2>Редактировать информацию</h2>
    <form onsubmit="saveClientInfo(); return false;">
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" name="lastName">
        <button type="submit">Сохранить</button>
    </form>
</div>

<script src="scripts.js"></script>
</body>
</html>
